* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(218, 215, 215);
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 69px);
}



footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}